Body {
    font-family: 'montserrat', sans-serif;
}

.img-fluit {
    max-width: 100%;
    max-height:min-content;
    object-fit:none;
}

.logo {
    width: 200px;
    height: 200px;
}

.logos {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.descripcion {
    display: flex;
    justify-content: center;
    padding: 20px;
}

